ul {
    width: 99%;
    width: 99vw;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    padding-right: 13%;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

<-- -->

.left {
    width: 20%;
}

#batteries {
    width: 27%;
}

.center {
    width: 20%;
}

#service {
    width: 25%;
}

.right {
    width: 25%;
}

#cardboard {
    width: 25%;
}

div {
    display: inline;
    margin: 2%;
}

h1 {
    color: #7ad17a;
}

h3 {
    color: #007999
}