ul {
    width: 99%;
    width: 99vw;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    padding-right: 13%;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

a {
    display: right;
}

#signin {
    display: right;
    float: right;
}

#logo {
    width: 25%;
}

input {
    margin-left: 4%;
}

button {
    margin-left: 4%;
}

body {
   position: relative;
}
body:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("border.svg"); 
    width: 100%;
    height: 100%;
    opacity : 0.1;
    z-index: -1;
}