ul {
    width: 99%;
    width: 99vw;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    padding-right: 13%;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

b {
    color: #007999;
}

#logo {
    width: 25%;
}

h1 {
    color: #7ad17a;
}

h3 {
    color: #007999;
    margin-left: 2%;
}

p {
    margin-left: 4%;
}

div {
    width: 30%;
    margin-left: 4%;
}

#EL {
    width: 90%;
}

#LRS {
    width: 90%;
}

#wilton {
    width: 90%;
}