ul {
    width: 99%;
    width: 99vw;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    padding-right: 13%;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

h1 {
    float: left;
}

form {
    margin-top: 2%;
    margin-bottom: 15%;
    float: right;
}

#description {
    float: right;
    width: 60%;
    margin-left: 0.0;
    margin-top: 0.0;
    padding-right: 4%;
}

#pic {
    float: left;
    width: 25%;
    margin-left: 4%;
    margin-right: 0.0;
}

img {
    width: 80%;
}

b {
    color: #007999;
}

#block1 {
    margin-top: 8%;
}

#block2 {
    margin-top: 20%;
}

h1 {
    margin-left: 2%;
}

h3 {
    margin-left: 2%;
}